*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #D8DFE8;
    color: #0A3871;
    height: 100vh;
    box-sizing: border-box;
}
.cabecera{
    display: flex;
    background-color: #E8E8E8
}
.logo__empresa{
    align-items: center;
    padding: 10px;
    margin: 10px;
    width: 10%;
}
.titulo__pagina{
    text-align:justify;
    align-items: center;
    padding: 10px;
    margin: 10px;
}
.seccion__ingreso__texto{
    background-color: #FFFFFF;
    padding: 20px;
    margin: 20px;
}
.campo-mensaje-ingresado{
    color: #0A3871;
}
::placeholder{
    color: #0A3871;
}
.campo-mensaje-ingresado:focus{
    outline: none;
}
.contenido__general{
    display: flex;
    align-items: center;
}
.formato__botones{
    display: flex;
    padding: 20px;
    margin: 10px;
}

.formato__boton__encriptar{
    background-color: #D8DFE8;
    color: #0A3871;
    border: 2px solid var(--color-terciaria);
    width: 50%;
    text-align: center;
    /*margin: 10px;*/
    border-radius: 7px;

}
.formato__boton__desencriptar{
    background-color: #0A3871;
    color: #D8DFE8;
    border: 2px solid var(--color-terciaria);
    width: 50%;
    text-align: center;
    /*margin: 10px;*/
    border-radius: 8px;

}
.seccion__salida__texto{
    background-color: #FFFFFF;
    padding: 20px;
    margin: 20px;
    align-items: center;
}
.campo__mensaje__salida{
    background-color: #FFFFFF;
    background-image: url(/imagen/Muneco.png);
    background-repeat: no-repeat;
    color: #0A3871;

}
.formato__boton__copiar{
    background-color: #D8DFE8;
    color: #0A3871;
    border: 2px solid var(--color-terciaria);
    width: 50%;
    text-align: center;
    align-items: center;
    border-radius: 8px; 
}

.pie__pagina{
    background-color: #E8E8E8;
}
.texto__pie__pagina__1{
    color: #9B9797;
    text-align: center;
}
.texto__pie__pagina__2{
    color: #9B9797;
    text-align: center;
}